.containerWrper {
    width: 95%;
    height: 90vh;
    margin: auto;
    border: 1px solid #fff;
    border-radius: 10px;
    position: relative;
}

.animation {
    position: absolute;
    width: 70%;
    height: 70vh;

}

.navAndbody {
    display: grid;
    grid-template-columns: 300px 1fr;
    padding: 20px;
    margin-top: 5px;
}

@media (max-width:1024px) {
    .navAndbody {
        grid-template-columns: 220px 1fr;
    }
}

@media (max-width:768px) {
    .navAndbody {
        grid-template-columns: 170px 1fr;
    }

    .containerWrper {
        height: 90vh !important;
    }
}

@media (max-width:425px) {
    .navAndbody {
        grid-template-columns: 100px 1fr;
    }
}







@media (max-width:768px) {
    .containerWrper {
        height: 95vh;
        width: 90%;
    }
}