.containerWrper {
    width: 95%;
    height: 90vh;
    margin: auto;
    border: 1px solid #fff;
    border-radius: 10px;
    position: relative;
}

.animation {
    position: absolute;
    width: 70%;
    height: 70vh;

}

.navAndbody {
    display: grid;
    grid-template-columns: 300px 1fr;
    padding: 20px;
    margin-top: 5px;
}









@media (max-width:768px) {
    .containerWrper {
        height: 95vh;
        width: 90%;
    }
}