.projectWrp {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    overflow-y: scroll;
    height: 69vh;
}

.projectWrp::-webkit-scrollbar {
    display: none;
}



@media (max-width:1024px) {
    .projectWrp {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width:768px) {
    .projectWrp {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:550px) {
    .projectWrp {
        grid-template-columns: 1fr;
    }
}