@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Roboto+Mono:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;1,400;1,500;1,700&family=Syne+Mono&display=swap');


:root {
    --yelloBack: yellow;
}

html,
body {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    background: black;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Syne Mono', monospace;
}

a {
    text-decoration: none;
}