.layoutbody {
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
}

.animation {
    position: absolute;
    top: 10;
    left: 10;
    right: 20;
    bottom: 10;
    width: 98%;
    height: 95vh;
}

.mood {
    width: fit-content;
    position: absolute;
    height: 15px;
    bottom: 10px;
    left: 30px;
    display: flex;
    grid-gap: 10px;
}

.mood>div {
    align-items: center;
    display: flex;
}

.mood>div>input {
    cursor: pointer;
}